{{#each posts as |post|}}
  <div data-id="{{post.id}}" class="box">
    <h2 class='title'>
      {{post.title}}
    </h2>
    <h3 class='author'>
      {{#if post.author}}
        {{post.author}}
      {{else}}
        Anonymous.
      {{/if}}
    </h3>
    <p class='body'>
      {{post.body}}
    </p>
      {{> remove-post id=post.id}}
      {{> edit-post id=post.id}}
  </div>
{{/each}}
